// 共通スタイル
body {
	font-family:"Noto Sans JP", Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
	background-color: $base_bg_color;
	color: $base_font_color;
	text-align: center;
}
img {
	display: block;
}